<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
]>
<root id="-1">
  <umbHomePage id="1056" key="ece16014-ab50-4140-94df-96c1df8dd713" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T14:02:06" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1052" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1047" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Santa Clara Valley Transportation Authority]]></title>
    <facebookLink><![CDATA[www.vta.org]]></facebookLink>
    <twitterLink><![CDATA[https://twitter.com/VTA]]></twitterLink>
    <hideBanner>0</hideBanner>
    <bannerLinkText><![CDATA[Solutions That Move You]]></bannerLinkText>
    <bannerBackgroundImage><![CDATA[/media/1001/17910065.jpg]]></bannerBackgroundImage>
    <bannerHeader><![CDATA[Welcome to the VTA]]></bannerHeader>
    <bannerSubheader><![CDATA[#ThisIsVTA]]></bannerSubheader>
    <siteName><![CDATA[Santa Clara Valley Transportation Authority]]></siteName>
    <umbTextPage id="1057" key="c4c2e754-4810-465b-8771-ecae88f5073e" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:24:04" nodeName="Trip Planner" urlName="trip-planner" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1002/vta-to-levis-light-rail-map.jpg]]></image>
      <bodyText><![CDATA[<p>Plan your trip around the Santa Clara County! From Levi's Stadium to Great Mall!</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1058" key="fa37109f-6a49-4a37-9c1c-f6c78e315a00" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:57:03" nodeName="News/Media" urlName="newsmedia" path="-1,1056,1058" isDoc="" nodeType="1055" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[News/Media]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1003/vtanews.jpg]]></image>
      <bodyText><![CDATA[<p>Get the live updates on VTA events as soon as they come up</p>
<p> </p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1059" key="b4e90bcf-edda-4a8a-8818-2783f9aa4f07" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:51:32" nodeName="Projects/Programs" urlName="projectsprograms" path="-1,1056,1059" isDoc="" nodeType="1055" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Projects/Programs]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1004/20150317__montague1.jpg]]></image>
      <bodyText><![CDATA[<p>Learn about upcoming expansions such as BART connections and additional stops</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1060" key="968ca08c-6171-416b-8f8e-934f54748832" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:59:28" nodeName="About Us" urlName="about-us" path="-1,1056,1060" isDoc="" nodeType="1055" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[About Us]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1005/board-meeting.jpg]]></image>
      <bodyText><![CDATA[<p>Learn about our organization and the faces that bring you the VTA</p>]]></bodyText>
    </umbTextPage>
    <umbNewsOverview id="1061" key="92ff5236-7f07-47a6-ac9c-bd2e04a51b21" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T14:01:40" nodeName="News" urlName="news" path="-1,1056,1061" isDoc="" nodeType="1054" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1049" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbNewsItem id="1062" key="ef39c8e2-db27-4016-ae32-30c28224fcb8" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T14:10:10" nodeName="Fixing Traffic" urlName="fixing-traffic" path="-1,1056,1061,1062" isDoc="" nodeType="1053" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Caltrain Undercrossing Built Before Your Eyes]]></title>
        <image><![CDATA[/media/1007/dig_daya_small.jpg]]></image>
      </umbNewsItem>
      <umbNewsItem id="1063" key="146b02fd-9b30-4eb3-9a92-6eacdcc75400" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:15:15" nodeName="This is a wonderful news item" urlName="this-is-a-wonderful-news-item" path="-1,1056,1061,1063" isDoc="" nodeType="1053" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Bestiarum vero nullum iudicium puto. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Claudii libidini, qui tum erat summo ne imperio, dederetur. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Sed virtutem ipsam inchoavit, nihil amplius.</p>
<p>Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Istam voluptatem, inquit, Epicurus ignorat? Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter. Primum in nostrane potestate est, quid meminerimus? Consequens enim est et post oritur, ut dixi. Hoc mihi cum tuo fratre convenit. Immo videri fortasse. Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Aliud igitur esse censet gaudere, aliud non dolere.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1064" key="ef08576d-d456-42c0-b904-30a2b995d4c2" parentID="1061" level="3" creatorID="0" sortOrder="2" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T13:15:15" nodeName="You really need to read this!" urlName="you-really-need-to-read-this" path="-1,1056,1061,1064" isDoc="" nodeType="1053" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Ut aliquid scire se gaudeant? Hanc ergo intuens debet institutum illud quasi signum absolvere. Vestri haec verecundius, illi fortasse constantius. Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Sed ea mala virtuti magnitudine obruebantur. Quasi ego id curem, quid ille aiat aut neget. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Apparet statim, quae sint officia, quae actiones.</span></p>
<p><span><span>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</span></span></p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1065" key="49bc248b-d910-4874-9a77-0a46a84cbc11" parentID="1061" level="3" creatorID="0" sortOrder="3" createDate="2016-12-08T13:15:14" updateDate="2016-12-08T14:05:07" nodeName="Christmas Time" urlName="christmas-time" path="-1,1056,1061,1065" isDoc="" nodeType="1053" creatorName="Emory Zhao" writerName="Emory Zhao" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Toys for Tots]]></title>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <image><![CDATA[/media/1006/toys_16x9.jpg]]></image>
        <bodyText><![CDATA[<div class="newsarticle">
<div class="articleContainer">
<p class="article">It’s that time of year again! Our Super Saturday Toys for Tots “Stuff the VTA Bus,” annual event is next Saturday, December 10, 2016, from 9:00 a.m. to 5:00 p.m. at Christmas in the Park.</p>
</div>
<p> </p>
<p> </p>
</div>
<div class="newsarticle"></div>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
  </umbHomePage>
</root>